{% extends 'web/master.html' %}

{% load staticfiles %}
{% load humanize %}

{% block content %}

<div class="container-fluid">
    <h1 class="mt-4">Casos en el Mundo</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">{% with cases|last as last %}{{ last.date }}{% endwith %}</li>
    </ol>
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">Confirmados</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <label class="small text-white">{% with cases|last as last %}{{ last.confirmed|intcomma }}{% endwith %}</label>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-warning text-white mb-4">
                <div class="card-body">Recuperados</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <label class="small text-white">{% with cases|last as last %}{{ last.recovered|intcomma }}{% endwith %}</label>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body">Fallecidos</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <label class="small text-white">{% with cases|last as last %}{{ last.deaths|intcomma }}{% endwith %}</label>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-danger text-white mb-4">
                <div class="card-body">Activos</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <label class="small text-white">{% with cases|last as last %}{{ last.active|intcomma }}{% endwith %}</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-area mr-1"></i>
                    Casos activos
                </div>
                <div class="card-body"><canvas id="activeChart" width="100%" height="40"></canvas></div>
            </div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            Histórico de Casos
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Confirmados</th>
                            <th>Recuperados</th>
                            <th>Críticos</th>
                            <th>Fallecidos</th>
                            <th>Activos</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for case in cases %}
                        <tr>
                            <td>{{case.date}}</td>
                            <td>{{case.confirmed|intcomma}}</td>
                            <td>{{case.recovered|intcomma}}</td>
                            <td>{{case.critical|intcomma}}</td>
                            <td>{{case.deaths|intcomma}}</td>
                            <td>{{case.active|intcomma}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script>

var cases = {{cases|safe}}

</script>

<script src="{% static 'assets/demo/active-cases.js' %}"></script>

{% endblock %}